<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users %></title>
</head>
<body>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.first_name %> <%= user.last_name %> - <%= user.email %> - <%= user.role %></li>
        <% }) %>
    </ul>

</body>
</html>